.box1 {
  width: 20%;
  border: solid black;
  padding: 2px;
  border-width: 2px;
  background-color: rgb(193, 208, 99);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box2 {
  width: 80%;
  border: solid black;
  padding: 2px;
  border-width: 5px;
  background-color: rgb(233, 192, 224);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box3 {
  width: 80%;
  border: solid black;
  padding: 2px;
  border-width: 5px;
  background-color: rgb(227, 244, 248);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box4 {
  width: 80%;
  border: solid black;
  padding: 2px;
  border-width: 5px;
  background-color: rgb(229, 237, 217);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box5 {
  width: 80%;
  border: solid black;
  padding: 2px;
  border-width: 5px;
  background-color: rgb(173, 180, 168);
  margin-bottom: 10px;
  box-sizing: border-box;
}
 
.box6 {
  width: 80%;
  border: solid black;
  padding: 2px;
  border-width: 5px;
  background-color: rgb(232, 233, 189);
  margin-bottom: 10px;
  box-sizing: border-box;
}























